@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="verde3">
<h2>¡Gol de Momo! Gracias por hacerme llegar a primera</h2>
<section class="Gano">
<img src="/Imagenes/GraciasCrack.png" >
</section>
<a href="/Home/Sala/5">Continuar</a>
</section>
