
@{
    ViewData["Title"] = "Iniciar";
}

<h2>Ingresá tu nombre para comenzar</h2>
<form method="post" action="/Home/Sala1">
    <input type="text" name="nombreJugador" required />
    <button type="submit">Comenzar</button>
</form>
