@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>NOOOOOO</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/pYtvpLNwF9s?si=XgAgXBLDpsDqMXXY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> <br>
<a href="/Home/Sala/4">Volver a intentar</a>

