@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>El arquero lo atajó</h2>
<img src="/imagenes/momopenal.png" alt="Penal atajado">
vidoe era gol boludo
<a href="/Home/Sala/4">Volver a intentar</a>

