@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="sala2">


<h2>Sala 2 - Buscá las llaves de las 3 propiedades</h2>
<p>Ayudalo al momo, perdio las llaves de sus 3 propiedades y necesita ayuda para recuperarlas</p>
<p>Tocá las 3 llaves para avanzar</p>

    <div>
            <img class= "Llave1" src="/Imagenes/imagen1.png" onclick="encontrarLlave(this)" />
    </div>
    <div>
        <img class= "Llave2" src="/Imagenes/imagen2.png" onclick="encontrarLlave(this)" />
    </div>
    <div>
        <img class= "Llave3" src="/Imagenes/imagen3.png" onclick="encontrarLlave(this)" />
    </div>
    

<script>
    function encontrarLlave(img) {
        fetch('/Home/EncontrarLlave', { method: 'POST' })
            .then(res => res.json())
            .then(data => {
                if (!img.classList.contains('tocada')) {
                    img.style.display = 'none';
                    img.classList.add('tocada');
                    if (data.avanzar) {
                        window.location.href = '/Home/Sala/3';
                    }
                }
            });
    }
</script>
</body>
