@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="sala3">


<h2>Sala 3 - ¿Qué me pongo para la boda de Coscu?</h2>
<p>¿Puedo caer asi?</p>
<p>Elegí la prenda correcta</p>
<img src="/Imagenes/puedoCaerAsi.png" alt="">
<br>
<br>
<br>
<form method="post" action="/Home/Sala3">
    <input type="number" name="eleccion" min="1" max="11" required />
    <button type="submit">Puedo Caer Asi?</button>
</form>
@if (ViewBag.Error != null) {
    <p class="error">@ViewBag.Error</p>
}
</section>