@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Sala 3 - ¿Qué me pongo para la boda de Coscu?</h2>
<p>Elegí la prenda correcta</p>
<img src="/Imagenes/puedoCaerAsi.png" alt="">
<form method="post" action="/Home/Sala3">
    <input type="number" name="eleccion" min="1" max="11" required />
    <button type="submit">Patear</button>
</form>
@if (ViewBag.Error != null) {
    <p class="error">@ViewBag.Error</p>
}
