@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="sala5">
<h2>Sala 5 - Pelea final con Viruzz</h2>
<p>Encontrá los guantes y golpeá a Viruzz</p>
<section class="Boxeo">
<img src="/Imagenes/GuanteBoxeo.png" onclick="agarrarGuante(this)" />
<img src="/Imagenes/GuanteBoxeo2.png" onclick="agarrarGuante(this)" />
<br>
<img class="viruzz" id="viruzz" src="/Imagenes/Viruzz.png" onclick="golpearViruzz()" />
</section>
<script>
    function agarrarGuante(img) {
        fetch('/Home/EncontrarGuante', { method: 'POST' })
            .then(res => res.json())
            .then(data => {
                img.style.display = 'none';
            });
    }
    function golpearViruzz() {
        fetch('/Home/GolpearViruzz', { method: 'POST' })
            .then(res => res.json())
            .then(data => {
                if (data.exito) {
                    document.getElementById('viruzz').src = '/imagenes/' + data.imagenViruzz + '.png';
                } else {
                    alert(data.mensaje);
                }
                if (data.ganado) {
                    window.location.href = '/Home/Victoria';
                }
            });
    }
</script>
</section>
