@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>¡Ganaste el Escape Room del Momo!</h2>
<p>Conseguiste todas las cafeteras. Sos todo un semental italiano.</p>
<video src="/videos/momotorre.mp4" autoplay loop></video>
<a href="/Home/Index">Volver al inicio</a>
