@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="Victoria">


<h2>¡Ganaste el Escape Room del Momo!</h2>
<p>Conseguiste todas las cafeteras. Sos todo un semental italiano.</p>
<img src="/Imagenes/5cafeteras.png" alt="">
<iframe width="560" height="315" src="https://www.youtube.com/embed/YxnvXgk42mI?si=W5CBnbgMEbuMCCpJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<a href="/Home/Index">Volver al inicio</a>
</section>