

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body{
  height: 100%;
  width: 100%;
}
main{
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

h1, h2 {
  color: #222;
}



input, button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

img:hover {
  transform: scale(1.1);
}

.error {
  color: red;
  font-weight: bold;
}
.sala2 {
  background-image: url('/Imagenes/3propiedades.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.penal img{
  width: 65%;
  height: auto;
  border-radius: 100px;
  box-shadow: 10px 6px 6px 2px rgb(0, 0, 0);
  margin-bottom: 2%;
  margin-top: 2%;
}
.Gano img{
  width: 50%;
  margin-bottom: 3%;
}
.viruzz{
  width: 50%;
}
.sala5{
  background-image: url('/Imagenes/Ring.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}

.Llave1 {
  position: absolute;
  width: 3%;
  top: 20%;
  left: 10%;
  margin: 5%;
  margin-left: 10%;
}

.Llave2 {
  position: absolute;
  width: 2%;
  top: 40%;
  left: 50%;
  margin-top: 27%;
  margin-right: 500%;
}

.Llave3 {
  position: absolute;
  width: 3%;
  top: 70%;
  left: 80%;
  margin-top: 6%;

}
.Victoria img{
  width: 50%;
  height: auto;
}
.Guante1 {
  position: absolute;
  width: 1%;
  margin-top: 3%;
  margin-left: 40%;
}

.Guante2 {
  position: absolute;
  width: 1%;
  margin-bottom: 20%;
  margin-left: 24%;
}

.Guante1, .Guante2 {
  cursor: pointer;
}
.vida {
  width: 40px;
  height: auto;
  margin: 5px;
  transition: opacity 0.3s ease;
}
.Index{
  background-image: url('/Imagenes/FONDO1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}
.Empezar{
  margin-top: 10%;
}
.Iniciar1{
  background-image: url('/Imagenes/Fondo2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}
.Sala1{
  background-image: url('/Imagenes/Fondo3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}
.Sala1 p{
  color: rgb(240, 0, 228);
  margin-top: 5%;
}
.rojo p{
  color: red;
}
.rojo a{
  color:aliceblue;
}
.sala2 p, h2{
 color: white;
 background: black;
}
.sala3{
  background-color: rgb(104, 104, 167);
  background-size: cover;
  min-height: 100vh;
}
.Verde{
  background-color: rgb(63, 143, 63);
  background-size: cover;
  min-height: 100vh;
}
.verde2
{ background-color: rgb(63, 143, 63);
  background-size: cover;
  min-height: 100vh;
}
.verde3{
  background-color: rgb(63, 143, 63);
  background-size: cover;
  min-height: 100vh;
}
.sala5 p{
  color: rgb(107, 89, 89);
  background-color: #222;
}
.sala5 h2
{
  color: rgb(107, 89, 89);
}
.Victoria{
  background-image: url('/Imagenes/Fondo4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}
.Empezar button:hover{
  background-color: #222;
  color: hsl(0, 75%, 50%);
  animation: 1s;
  scale: 1.1;
}
.Iniciar1 button:hover{
  background-color: #222;
  color: hsl(0, 75%, 50%);
  animation: 1s;
  scale: 1.1;
}
.rojo button:hover{
  background-color: #222;
  color: hsl(0, 75%, 50%);
  animation: 1s;
  scale: 1.1;
}
.sala3 button:hover{
  background-color: #222;
  color: hsl(258, 77%, 45%);
  animation: 1s;
  scale: 1.1;
}
.penal button:hover{
  background-color: #222;
  color: hsl(140, 85%, 51%);
  animation: 1s;
  scale: 1.1;
}
