

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body{
  height: 100%;
  width: 100%;
}
main{
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

h1, h2 {
  color: #222;
}



input, button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

img:hover {
  transform: scale(1.1);
}

.error {
  color: red;
  font-weight: bold;
}
.sala2 {
  background-image: url('/Imagenes/3propiedades.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.penal img{
  width: 65%;
  height: auto;
  border-radius: 100px;
  box-shadow: 10px 6px 6px 2px rgb(0, 0, 0);
  margin-bottom: 2%;
  margin-top: 2%;
}
.Gano img{
  width: 50%;
  margin-bottom: 3%;
}
.viruzz{
  width: 70%;
}
.sala5{
  background-image: url('/Imagenes/Ring.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}

.Llave1 {
  position: absolute;
  width: 5%;
  top: 20%;
  left: 10%;
}

.Llave2 {
  position: absolute;
  width: 5%;
  top: 40%;
  left: 50%;
}

.Llave3 {
  position: absolute;
  width: 5%;
  top: 70%;
  left: 80%;
}
